html{
    font-family: Manrope;
    width: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

p{
    font-size: 1rem;
}

button {
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: #F84646;
    border: 0
}

#contact-button{
    transition: opacity 0.5s ease-in-out, transform 0.5s 1.0s;
}

#contact-button:hover{
    opacity: 0.9;
    transform: scale(1.3);
}

#presentation-container{
    padding: 2.5rem 10rem;
    height: 40rem;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#presentation{
    width: 37,5rem;
}

.container{
    padding: 6.4rem 12rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
    
#contact-title{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#contact-text{
    margin-bottom: 2rem;
}

.background-gradient{
    background: linear-gradient(180deg, white, rgb(216, 216, 216))
}

.background-red{
    background-color: #F84646;
    color: white;
}

#qualitis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
}

.article-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-container > img{
    object-fit: cover;
}

.article-container:nth-child(even){
    margin-top: 5rem;
    flex-direction: row-reverse;
}

.article-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 0 2.5rem 0 0;
    justify-content: space-between;
}

.article-details > button{
    font-size: 1rem;
}

.article-container:nth-child(even) > .article-details{
    margin: 0 0 0 2.5rem;

}

.footer-list{
    gap: 10rem;
    display: flex;
    text-align: left;
    justify-content: center;
}

.footer-list > ul > li{
    list-style: none;
}

.footer-list > ul > li:last-child{
    margin-bottom: 0;
}

.footer-list > ul > li:first-child{
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.footer-list > ul >li {
    padding: 0.7rem;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 5.5rem;
}

.grid-item > h3{
    margin-top: 1rem;
}

.grid-item > p{
    margin-top: 0.5rem;
}

.grid-container-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.grid-item-companies{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem ;
}

.company-1{
    grid-area: 3 / 1;
}

.company-2{
    grid-area: 2 / 2 ;
}

.company-3{
    grid-area: 3 / 2 ;
}

.company-4{
    grid-area: 1 / 3 ;
}

.company-5{
    grid-area: 2 / 3;
}

.company-6{
    grid-area: 3 / 3 ;
}

.company-7{
    grid-area: 2 / 4 ;
}

.company-8{
    grid-area: 3 / 4 ; 
}

.company-9{
    grid-area: 3 / 5 ;
}

.background-gray{
    background-color: #F4F5F7;
}

/*MOBILE*/

@media only screen and (max-width: 767px){
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    .grid-container{
    grid-template-columns: 1fr;
    }

    .container{
        justify-content: center;
    }

    #qualitis{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
    }

    #qualitis > img {
        transform: rotate(90deg);
        margin: 2.5rem 0;
    }

    .article-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
    }

    .article-details{
        text-align: center;
        align-items: normal;
        margin: 2rem 0 0 0 ;
    }

    .article-container:nth-child(even) > .article-details{
        margin: 2rem 0 0 0 ;
        flex-direction: column-reverse;
    }

    .article-container:nth-child(even) > .article-details > h2{
        margin-top: 2rem;
        
    }

   .article-container > img{
    width: 100%;
    }

    .grid-container-companies{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    margin-top: 3rem;
    }

    .grid-item-companies{
        height: 6rem;
    }

    .company-1{
        grid-area: auto;
    }
    
    .company-2{
        grid-area: auto;
    }

    .company-3{
        grid-area: auto;
    }

    .company-4{
        grid-area: auto;
    }

    .company-5{
        grid-area: auto;
    }

    .company-6{
        grid-area: auto;
    }

    .company-7{
        grid-area: auto;
    }

    .company-8{
        grid-area: auto;
    }

    .company-9{
        grid-area: auto;
    }

    .footer-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    }

    .footer-list > ul{
        padding: 0;
    }

    .footer-copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    }

    .footer-list > ul > li:first-child{
    margin-bottom: 0.5rem;
    font-weight: 1000;
}

}

/*TABLET*/

@media only screen and (min-width: 768px) and (max-width:1023px) {
    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.5rem ;
    }

    .container{
        padding: 5rem 4rem;
    }

    .grid-container{
    grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-companies{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    }

    .company-1{
        grid-area: auto;
    }
    
    .company-2{
        grid-area: auto;
    }

    .company-3{
        grid-area: auto;
    }

    .company-4{
        grid-area: auto;
    }

    .company-5{
        grid-area: auto;
    }

    .company-6{
        grid-area: auto;
    }

    .company-7{
        grid-area: auto;
    }

    .company-8{
        grid-area: auto;
    }

    .company-9{
        grid-area: auto;
    }

    #qualitis{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    }

    .article-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

    .article-container > img{
    width: 50%;
    }

    .footer-list{
    gap: 1rem;
    display: flex;
    text-align: left;
    justify-content: center;
    }
}


/*LAPTOP*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .footer-list{
    gap: 5rem;
    display: flex;
    text-align: left;
    justify-content: center;
    }
}